@import url('https://fonts.googleapis.com/css2?family=Texturina:opsz,wght@12..72,500&display=swap');

body {
  margin: 0;
  overscroll-behavior: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  background-color: #336541;
}

h1 {
  margin: 0;
  font-size: 2em;
}

p {
  margin: 0;
}

input,
button,
p,
a,
h1,
div {
  font-family: 'texturina';
}

.appBody {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.gradientBackground {
  background-image: linear-gradient(to bottom right, #097500, #2dff74);
  box-shadow: inset 0.5em 0.5em 0.5em 0em #57b45e, inset -0.5em -0.5em 0.5em 0em #1ba23f;
}

.gameboard-grid {
  display: grid;
  grid-gap: 0.3vh;
  background-color: black;
  border: 0.3vh solid black;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 2rem;
}

.clock {
  font-size: 2rem;
  background-color: #549e4c;
  padding: 0.5rem;
  border: 0.3vh solid black;
}

.gameplayButtonContainer {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.concedeButton {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.startButton {
  font-size: 1.5rem;
  padding: 0.5rem;
}
